body {
	font: 1em Helvetica,sans-serif;
	margin: 0 auto;
	width: 80%;
}

td {
	padding: 0 2em 0 0;
}

h3, h4, h5 {
	margin-bottom: 0;
}

p {
	margin-top: 0;
}

#banner {
	display: flex;
	align-items: center;
	font-size: 2em;
	margin: 0.5em 0;
}
@media all and (orientation: landscape) {
#banner {
	flex-direction: row;
}
	#title {
		margin: auto auto auto 0.5em;
	}
}
@media all and (orientation: portrait) {
#banner {
	flex-direction: column;
}
	#title {
		text-align: center;
	}
}
	#logo {
		height: 4em; width: 4em;
	}
