

body {
	font: 1em Arial,sans-serif;
	margin: 0 auto;
	width: 80%;
}

@media all and (orientation: portrait) {
#banner {
	display: flex;
	align-items: center;
	font-size: 2em;
	flex-direction: column;
}
}
@media all and (orientation: landscape) {
#banner {
	display: flex;
	align-items: center;
	font-size: 2em;
	flex-direction: row;
}
}
	#logo {
		margin: 0.5em;
		height: 4em; width: 4em;
	}
